/**
 * 主页面样式
 */
@charset "utf-8";

*,
::before,
::after {
	margin: 0;
	padding: 0;
	/* 清除点击默认的高亮效果 */
	-webkit-tap-highlight-color: transparent;
	/* 以 border 开始计算宽度 */
	-webkit-box-sizing: border-box;
}

body {
	font-size: 14px;
	/* 第二个是手机的一个默认的字体 */
	font-family: "Microsoft YaHei", sans-serif;
	color: #000;
}
